<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Date and Time</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 mt-4 mb-4">
                <h1 class="text-center">The curret time and date:</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col col-lg-4 border border-dark rounded">
                <h3 class="text-center m-2">@DateTime.Now.ToString("MMM dd, yyyy")</h3>
                <h3 class="text-center m-2">@DateTime.Now.ToString("h:mm tt")</h3>
            </div>
        </div>
    </div>
</body>
</html>